@import "tailwindcss";

:root {
  --background: #050505; /* slightly off-black for depth */
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-Inter), sans-serif;
  --font-inter: var(--font-Inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-Inter), sans-serif;
  -webkit-font-smoothing: antialiased;
}
