@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #f6dd7a;
    /* warm yellow from design */
    --color-muted: #f3f4f6;
    /* light gray sections */
    --color-text: #0c0c0c;
  --font-prompt: var(--font-prompt);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-prompt), ui-sans-serif, system-ui, -apple-system,
      Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}
